body {
    margin: 0;
}
header {
    text-align: center;
    background: lightgreen;
    font-size: 16pt;
    padding: 0.5em;
    cursor: pointer;
}
input[type=number]{
    width: 2em;
    font-size: 48pt;
}
input#logsize {
    font-size: initial;
}
header, fieldset, section#log {
    font-family: sans-serif;
}
fieldset {
    margin: 1em;
    border-radius: 8px;
}
.fluid-container {
    /* fluid container groups elements into a single block, but the block flows like an inline element */
    display: inline-block;
    margin-top: 0.5em;
}
.canvas-plot {
    margin: auto;
    display: block;
    top: 80px;
    position: relative;
}

/* shrink font for mobile screens so that the timer fits in one line */
@media only screen and (max-width: 500px) {
    input[type=number]{
        font-size: 32pt;
    }
}
@media only screen and (max-width: 358px) {
    input[type=number]{
        font-size: 24pt;
    }
}
