body {
    margin: 0;
}
header {
    text-align: center;
    background: lightgreen;
    font-size: 16pt;
    padding: 0.5em;
    cursor: pointer;
}
body > fieldset input[type=number]{
    width: 2em;
    font-size: 48pt;
}
input#logsize {
    font-size: initial;
}
header, fieldset, section#log {
    font-family: sans-serif;
}
fieldset {
    margin: 1em;
    border-radius: 8px;
}
.fluid-container {
    /* fluid container groups elements into a single block, but the block flows like an inline element */
    display: inline-block;
    margin-top: 0.5em;
}
#graphbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.canvas-wrapper {
    resize: both;
    margin: 0;
    overflow: hidden;
    border: lightgreen 2px dashed;
    position: relative;
}
.canvas-wrapper::after {
    content: " ";
    mix-blend-mode: difference;
    width: 16px;
    height: 16px;
    border: 8px solid rgb(128,128,128);
    /* background: rgba(128,128,128,0.5); */
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
/* Outline around the canvas time */
.time-highlight {
    position: absolute;
    overflow: hidden;
}
.time-highlight::before {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid rgba(211, 211, 211, 0);
    mix-blend-mode: difference;
    box-sizing: border-box;
    transition: border 300ms;
}
.time-highlight:is(:hover, :focus-within) {
    overflow: initial;
}
.time-highlight:is(:hover, :focus-within)::before {
    border: 2px solid rgba(211, 211, 211, 1);
}
/* time font formatting editor */
.format-box {
    position: absolute;
    top: 100%;
    background: rgba(245, 245, 245, 0.6);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5%;
    transition: opacity 300ms;
    opacity: 0;
    line-height: 1.5;
    width: min-content;
}
.time-highlight:is(:hover, :focus-within) > .format-box {
    opacity: 1;
}
.format-box input[type=number] {
    width: 4em;
}
.format-box input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}
.format-box label span {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 0.1em;
    margin: 0.25em;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-align: center;
    user-select: none;
    border-radius: 2px;
    transition: background 100ms;
}
.format-box :checked + span {
    background: white;
}

/* shrink font for mobile screens so that the timer fits in one line */
@media only screen and (max-width: 500px) {
    body > fieldset input[type=number]{
        font-size: 32pt;
    }
}
@media only screen and (max-width: 358px) {
    body > fieldset input[type=number]{
        font-size: 24pt;
    }
}
