body {
    margin: 0;
}
header {
    text-align: center;
    background: lightgreen;
    font-size: 16pt;
    padding: 0.5em;
    cursor: pointer;
}
input[type=number]{
    width: 2em;
    font-size: 48pt;
}
input#logsize {
    font-size: initial;
}
header, fieldset, section#log {
    font-family: sans-serif;
}
fieldset {
    margin: 1em;
    border-radius: 8px;
}
.fluid-container {
    /* fluid container groups elements into a single block, but the block flows like an inline element */
    display: inline-block;
    margin-top: 0.5em;
}
#graphbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.canvas-wrapper {
    resize: both;
    margin: 0;
    overflow: hidden;
    border: lightgreen 2px dashed;
    position: relative;
}
.canvas-wrapper::after {
    content: " ";
    mix-blend-mode: difference;
    width: 16px;
    height: 16px;
    border: 8px solid rgb(128,128,128);
    /* background: rgba(128,128,128,0.5); */
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

/* shrink font for mobile screens so that the timer fits in one line */
@media only screen and (max-width: 500px) {
    input[type=number]{
        font-size: 32pt;
    }
}
@media only screen and (max-width: 358px) {
    input[type=number]{
        font-size: 24pt;
    }
}
